*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family:"poppins",sans-serif;
}
.hr
{
    color:blueviolet;
    text-align: center;
    font-size: 40px;
    background-color: pink;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-display: 400px;
    padding-bottom: 10px;
}
.first
{
    padding: 35px;
   
}
.sec
{
    padding: 35px; 
}
.btn{
    width: 300px;
    height:45px;
    background-color:  greenyellow;
    border: none;
    outline: none;
    border-radius: 70px;
    box-shadow: 0 0 10px black;
    cursor:pointer;
    font-size:25px;
    color:black;
    font-weight: 600;
    text-align: 50px;
    
}
.btn :hover{
    transform: scale(1.04);
    flex-wrap: wrap;
}
.fir{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.fir img{
    width: 400px;
    height: 300px;
    border:2px solid #ff3d0036;
    border-radius: 15px;
    box-shadow: 4px 7px 7px 0px #00000042;
    cursor: pointer;
    margin:10px;
    transition: 400ms;
}
.fir img:hover{
    
    transform: scale(1.03);
}